html {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fdefef;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  text-align: center;
}

section {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  color: white;
}
.navbar__navmenu {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.navbar__navfooter {
  display: flex;
  justify-content: space-around;
  width: 6%;
}

.mainsection {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.mainsection__article-main {
  width: 90%;
  margin-top: 2rem;
  margin-left: 2rem;
}
.mainsection__article-services {
  text-align: left;
  margin-top: 4em;
  padding-left: 1em;
  margin-top: 2rem;
}
.mainsection__blogtitle {
  width: 20%;
}
.mainsection__blogpara {
  width: 80%;
}
.mainsection__blogpara a {
  color: blue;
  font-style: italic;
}

.blogheader {
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.card__article-client {
  text-align: center;
  border: 1px solid black;
  margin: 2em;
  padding: 2em;
}

.product {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  border: 1px solid black;
  padding: 1.2em;
  margin-top: 2em;
}

/* single blogpost */
.singlepost, .contactform {
  text-align: center;
}

.svg-img {
  width: 100%;
  height: 90%;
}

#lflower, #mflower, #rflower {
  -webkit-animation-name: changecolor;
          animation-name: changecolor;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes changecolor {
  to {
    transform: rotate(180deg);
    fill: green;
  }
}

@keyframes changecolor {
  to {
    transform: rotate(180deg);
    fill: green;
  }
}
#middle, #right, #left {
  -webkit-animation-name: changecolor1;
          animation-name: changecolor1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes changecolor1 {
  to {
    fill: orangered;
  }
}

@keyframes changecolor1 {
  to {
    fill: orangered;
  }
}
#box {
  -webkit-animation-name: boxcolor;
          animation-name: boxcolor;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes boxcolor {
  to {
    fill: red;
  }
}

@keyframes boxcolor {
  to {
    fill: red;
  }
}/*# sourceMappingURL=style.css.map */